header {
  background-color: #19398a;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 7%, .5);
}

header a, header a:hover {
  color: #FFFFFF;
}

.page-heading {
  background-image: linear-gradient(265deg, #04143a, #19398a);
  height: 140px;
  z-index: 30;
  margin-top: 55px;
}

.page-heading img {
  float: right;
  width: 60rem;
}

.page-heading .page-heading-title {
  z-index: 10;
}

.page-heading h1 {
  font-weight: 600;
  font-size: 3.2rem;
  margin-top: 30px;
  color: #FFFFFF;
  z-index: 2;
}

.team-card {
  height: 310px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.player-card {
  height: 330px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.team-name {
  font-size: 20px;
  height: 60px;
}

.player-name {
  font-size: 20px;
}

.btn-floating {
  position: fixed;
  font-size: 34px;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #19398A;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

@media (max-width: 920px) {
  .page-heading {
    height: 100px;
  }

  .page-heading .page-heading-backdrop {
    display: none;
  }

  .page-heading h1 {
    font-size: 2rem;
    margin-top: 30px;
  }
}
